body {
    width: 100%;
    margin: 0;
}

.clock-body {
    background-color:grey;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock-body span {
    bottom: 50%;
    transform-origin: bottom center;
}

.minute-hand {
    background-color: rgb(57, 158, 212);
    width: 12px;
    height: 180px;
    transform: rotateZ(126deg);
    border-radius: 6px;
    position: absolute;
}

.second-hand {
    background-color: rgb(232, 169, 52);
    width: 8px;
    height: 210px;
    transform: rotateZ(0deg);
    border-radius: 4px;
    position: absolute;
}

.hour-hand {
    background-color: black;
    width: 15px;
    height: 120px;
    transform: rotateZ(280.5deg);
    border-radius: 8px;
    position: absolute;
}

.parent-container {
    padding-left: 0px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}