.calculator-body {
    width: 250px;
    background: black;
    border-radius: 45px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.operation-display {
    color: gray;
    width: 100%;
    line-height: 15px;
    font-size: 18px;
    text-align: right;
    padding-top: 35px;
    padding-right: 5px;
}

.display-container {
    color: white;
    /* width: 200px; */
    font-size: 50px;
    text-align: right;
    /* direction: rtl; */
    margin-bottom: 10px;
    padding-right: 5px;
    top: 0px;
    /* border: 1px solid white; */
    -webkit-mask-image: linear-gradient(to right, transparent, black 20px); 
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.display {
    /* overflow: hidden; */
        overflow-x: auto;
    white-space: nowrap;
    /* border: 1px solid white; */
    /* direction: ltr; */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.action-button {
    background-color: rgb(111, 110, 110);
    color: white
}

.action-button {
    background-color: rgb(255, 166, 0);
    color: white;
}

.number-button {
    background-color: rgb(54, 53, 53);
    color: white;
}